<ion-header class="ion-no-border" translucent>
  <ion-toolbar color="acercar">

    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Comercializadores</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>

  <ion-item *ngFor="let comercio of comercios">
    <ion-avatar slot="start">
      <img [src]="comercio.img">
    </ion-avatar>
    <ion-label>
      <h2>{{ comercio.name }}</h2>
      <h3>{{ comercio.desc }}</h3>
      <p>{{ comercio.adress }}</p>
    </ion-label>
  </ion-item>

</ion-content>
