<ion-header class="ion-no-border" translucent>
  <ion-toolbar color="acercar">

    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-list>

    <ion-menu-toggle autoHide="false" *ngFor="let producto of productos">

      <ion-item [routerLink]="producto.redirectTo" detail>
        <ion-icon slot="start" [src]="producto.icon" [class]="producto.class"></ion-icon>
        <ion-label>
          <h2>{{ producto.name }}</h2>
          <p>{{ producto.desc }}</p>
        </ion-label>
        
      </ion-item>

    </ion-menu-toggle>
  
  </ion-list>
</ion-content>