<ion-content>
  <ion-item class="title" lines="none">
    <h1 style="color:#FEFEFE; font-weight: bold; width: 100%; font-size: xx-large;">Acercar</h1>
  </ion-item>

  
  <ion-item class="title" lines="none">
    <p class="labelStyleSubTitle" style="width: 100%; font-size: medium;" no-padding>La herramienta para encontrar precios mas baratos, uniendo productores y consumidores.</p>
  </ion-item>

  <ion-button expand="full" color="#00AEC3" routerLink="/home" routerDirection="root">Click para comenzar</ion-button>
</ion-content>

<ion-footer class="footer">
    <img src="/assets/img/logo.png"  style="align-content: center;" alt="icono acercar"/>
</ion-footer>
