<ion-content mode="ios" color="acercar">
  <ion-item class="title" lines="none" color="acercar">
    <h1>ACERCAR</h1>
  </ion-item>

  
  <ion-item class="title" lines="none" color="acercar">
    <p class="labelStyleSubTitle" no-padding>La herramienta para encontrar precios más baratos, uniendo productores y consumidores.</p>
  </ion-item>

  <div>
    <img src="/assets/landing/shopping-cart.svg" text-center alt="ingresar" class="image" routerLink="/home" routerDirection="root"/>
  </div>

  <!-- <ion-button expand="full" color="#00AEC3" routerLink="/home" routerDirection="root">Click para comenzar</ion-button> -->
  <!-- <div class="footer">
    <img src="/assets/img/Logo-01.svg"  class="image-footer" alt="icono acercar"/>
  </div> -->

</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar color="acercar">
    <div>
      <img src="/assets/img/Logo-01.svg"  class="image-footer" alt="icono acercar"/>
  </div>
  </ion-toolbar>
</ion-footer>
