ion-content {
  --ion-background-color:#00AEC3;
}

ion-item h1 {
  color:#FEFEFE; 
  font-weight: bold; 
  width: 100%; 
  font-size: xx-large;
  margin-top: 25%;
}

.title{
  height: auto; 
  width: 100%;
  text-align: center;
}

.labelStyleSubTitle {
  color:#FEFEFE; 
  width: 100%; 
  font-size: medium;
}

div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  display: block;
  width: 50%;
  margin-top: 40px;
  filter:   invert(93%) sepia(7%) saturate(14%) hue-rotate(273deg) brightness(107%) contrast(106%);
}

.footer {
  background-color: #00AEC3;
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-footer{
  display: block;
  width: 50px;
  margin-bottom: 25px;
  filter:   invert(93%) sepia(7%) saturate(14%) hue-rotate(273deg) brightness(107%) contrast(106%);
}