<ion-header class="ion-no-border" translucent>
  <ion-toolbar color="acercar">

    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Repartos a tu casa</ion-title>
  </ion-toolbar>
</ion-header> 
  
<ion-content>

  <div id="map_canvas"></div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light" (click)="localizar()">
      <ion-icon name="locate-sharp" color="primary"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
