// ion-content {
//   --ion-background-color:#00AEC3;
// }

ion-item h1 {
  //color:#FEFEFE; 
  color: #00AEC3;
  font-weight: bold; 
  width: 100%; 
  font-size: xx-large;
  margin-top: 25%;
}

.title{
  height: auto; 
  width: 100%;
  text-align: center;
}

.labelStyle{
  font-weight: bold;
  color: black !important;
  font-size: 24px;
  margin-top: 10px;
}


.labelStyleSubTitle{
  font-weight: normal;
  // color: white !important;
  font-size: 12px;
  margin-top: 10px;
}

.center {
  display: block;
  margin: auto;
  width: 50%;
 }
 
div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  display: block;
  width: 30%;
  margin-top: 30px;
}

ion-card {
  overflow: unset !important;
}

ion-card {
  height: 65px;
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

.option-image {
  width: 45px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -33px;
}


ion-card-header {
  position: relative;
  top: -40px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
ion-card-title {
  font-size: 12px;
}

ion-card-content {
  position: relative;
  top: -50px;
}

.footer {
  //background-color: #00AEC3;
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-footer{
  display: block;
  width: 50px;
  margin-bottom: 25px;
  filter: invert(52%) sepia(20%) saturate(4199%) hue-rotate(150deg) brightness(93%) contrast(101%);;
}