<ion-content mode="ios">

  <ion-item class="title" lines="none">
    <h1>ACERCAR</h1>
  </ion-item>

  <ion-item class="title" lines="none">
    <p class="labelStyleSubTitle" no-padding>La herramienta para encontrar precios más baratos, uniendo productores y consumidores.</p>
  </ion-item>

  <ion-grid fixed> 
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="6"
               *ngFor="let option of options" [routerLink]="option.link" routerDirection="root">
  
        <ion-card mode="ios">

          <ion-avatar>
            <img [src]="option.img" class="option-image">
          </ion-avatar>

          <ion-card-header>
            <ion-card-title>{{ option.title }}</ion-card-title>
          </ion-card-header>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div>
    <img src="/assets/img/Logo-01.svg"  class="image-footer" alt="icono acercar"/>
  </div>
  </ion-toolbar>
</ion-footer>